body {
background-color: #F0FFFF;
}

h1 {
  color: #00008B;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  display: block;
}

p {
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;
}

body {
  background-color:	#6495ED;

}

#mark{
  margin: 10px auto 10px auto;
  width:90%;
  text-align: center;
}

ul{
  margin-bottom:100px;
}


#links li {
  list-style-type: none;
  float: left;
  width: 25%;
  font-size: 1em;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  height: 200px;
  justify-content: space-around;

}

#links a:link, a:visited {
  display: block;
  color: #fff;
  background-color: #004d80;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Merriweather', sans-serif;
  font-size: 0.8em;
}

#links a:hover, a:active {
  background-color: #00bfff;
}

title {
  font-family: 'Merriweather', serif;
  color: green;
}

#container{
  width: 95%;
  background-color: #e6ffff;
  margin: 0 auto;
}

img {
  border-style: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 40%;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

.footer {
  display: block;
  color: white;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid black;
  background-color: #000080;
  height: 30px;
  text-decoration:none;
  border: none;
}

.aside {
  font-family: 'Meriweather', Georgia, "Times New Roman", serif;
  font-weight: 500;
  color: 0000FF
  font-style: normal;
  text-align: center;
}

@@media query {
  
}

.navigation a:hover {
  background:
}
