html {
  font-size: 100%}

body {
background-color: #F0FFFF;
}

h1 {
  color: #00008B;
  font-family: 'Merriweather', Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  display: block;
}

p {
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2.5em;
  font-weight: normal;
}

body {
  background-color:	#6495ED;

}

#mark{
  margin: 10px auto 10px auto;
  width:90%;
  text-align: center;
}

#links li {
  list-style-type: none;
  float: left;
  width: 25%;
  font-size: 1em;
}

#nav a:link, a:visited {
  display: block;
  color: #fff;
  background-color: #004d80;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #00bfff;
}

title {
  font-family: Georgia, "Times New Roman", serif;
  color: green;
}

#container{
  width: 95%;
  background-color: #e6ffff;
  margin: 0 auto;
}

img {
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
